body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header, footer {
    text-align: center;
    padding: 20px;
}

h1, h2 {
    margin: 0 0 20px 0;
    color: #007BFF;
}

main {
    background-color: white;
    border: 1px solid #DDD;
    padding: 20px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #FFF;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
}

input[type="password"], input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Makes the button centered if desired */
    width: auto; /* Adjust according to design preference */
    margin: 10px auto; /* Centers the button horizontally */
}

button:hover {
    background-color: #0056b3;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

.checkmark {
    background-color: #EEE;
    border-radius: 50%;
}
